$black: #2f2e2c;
$nude: #f4d0cc;
$bone: #e7e5e2;
$white: #ffffff;
$ivory: #fafafa;
$gold: #e3c68b;
$bronze: #907155;
$denim: #8394a9;

$plain-font: helvetica, arial, sans-serif;
$headline-font: 'Montserrat', helvetica, arial, sans-serif;
$decorative-font: baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;

$page-margin: 80px;
